*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;}

.top-header{display: flex;}

div{width: 50%;}

.header-div{margin-top: 90px;
margin-left: 12%;
color: rgb(65, 65, 65);}

h1{font-size: 50px;
font-weight: 700;
line-height: 1.2;}

span{color: orange;}

.header-div p{margin-top: 16px;
    margin-bottom: 35px;
padding-right: 80px;
line-height: 1.5;}

div a{text-decoration: none;
background-image: linear-gradient(to right,orange,orangered);
color: white;
padding: 15px;
border-radius: 15px;
}

div img{width: 70%;
margin-left: 10%;
margin-top: 20px;}

.about-me{display: flex;
margin-top: 10%;}

.about-div{margin-top: 5%;}

.about-me{background-image: url(images/shapes/7.png);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 500px;
margin-bottom: 180px;}

.about-me img{height: 95%;
width: 55%;
margin-left: 20%;}

.about-info{margin-top: 6.5%;}

.about-info h1{margin-bottom: 50px;
color: rgb(77, 77, 77);
font-size: 40px;}

.about-info p{padding-right: 190px;
margin-bottom: 45px;
line-height: 1.4;}

.about-info a{font-size: 17px;
padding:16px;}



.recipe-menu{display: flex;
 width: 100%;
 margin-top: 0%;
 margin-bottom: 50px;
}

.recipe-menu .menu-items{width: 25%;
border:1px solid rgb(223, 223, 223);
border-radius: 20px;
margin-left: 6% ;
box-shadow: 0 0 4px rgb(48, 48, 48);}

.menu-items img{width: 95%;
margin-left: 2.5%;
margin-top: 2.5%;}

.menu-items h1{font-size: 35px;
padding: 15px 10px;
margin: 0;}

.menu-items p{font-size: 18px;
color: rgb(66, 66, 66);
padding: 10px 20px;}


.recipe-heading{text-align: center;
color: rgb(65, 65, 65);}

.recipe-text{padding: 40px 140px;
color: rgb(77, 77, 77);}

.why-us{margin-top: 130px;
background-image: url('images/shapes/Frame\ 58.jpg');
background-repeat: no-repeat;
background-size: cover;}

.service-div{display: flex;
width: 100%;
margin-top: 50px;}

.food-quality{width: 22%;
margin: auto;
}

.food-quality h2{font-size: 25px;}
.food-quality p{padding: 20px;
}
.bold-text{text-align: center;
    font-weight: 600;
    padding-top: 40px;
}
.healthy-text{text-align: center;
padding-top: 30px;
font-size: 35px;}

.qua-discription{
    font-size: 16px;
    padding: 20px 170px;
    line-height: 1.4;
    letter-spacing: 1.2;
    
}

#border1{border-left: 8px solid black;
border-image: linear-gradient(#eb3349 , #f45c43);
border-image-slice: 1;
padding-left: 20px;}
#border2{border-left: 8px solid black;
border-image: linear-gradient(#ffafbd , #ffc3a0);
border-image-slice: 1;
padding-left: 20px;}
#border3{border-left: 8px solid;
border-image: linear-gradient(#cc2b5e , #753a88);
border-image-slice: 1;
padding-left: 20px;}
.gallery-area{display: flex;
width: 100%;}
.photos{width: 100%;}
.photos img{width: 25%;
margin-left: 5%;}
.gallery{margin-top: 130px;}
.gallery h1{text-align: center;}
.gallery p{padding:20px 160px}


footer{background-color: black;
margin-top: 100px;
width: 100%;}
footer h3{font-size: 20px;
color: white;
text-align: center;
padding-top: 30px;}
footer p{font-size: 14px;
color: white;
text-align: center;
padding-top: 10px;
padding-bottom: 5px;}